version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    image: painel-investimentos:latest
    ports:
      - "8080:8080"
    volumes:
      - ./data:/app/data
    environment:
      - SPRING_APPLICATION_NAME=painel-investimentos
